@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  transition: background-color 0.3s, color 0.3s;
}

body {
  overflow-x: hidden;
}
